*{box-sizing: border-box;}
*{
	padding: 0;
	margin:0;
}
.header{background-color: lightblue;padding:15px;width: 100%;}
.menu li{padding:8px;margin-bottom: 7px;list-style: none;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
background-color: lightgreen; }
.content{background-color: lightyellow;}
.aside{background-color: orange;}
.footer{background-color: lightblue;text-align: center;}
[class*="col-"]{
	padding: 8px;
	float:left;
	width:100%;
}
/*桌面样式*/
@media only screen and (min-width:768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
/*移动端*/
@media only screen and (min-width:600px){
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}